html,
body,
#vlexContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#vlexContainer.half {
  position: absolute;
  border: solid 2px #2b2b2b;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
}
.vlexFill {
  fill: #2b2b2b;
}
.vlexStroke {
  stroke: #2b2b2b;
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
}
.ruler {
  stroke: magenta;
  stroke-width: .5;
  stroke-dasharray: 4,4;
  fill: none;
}
#logo {
  width: 200px;
  position: fixed;
  top: 0;
}
#resize {
  width: 100px;
  position: fixed;
  right: 0;
  bottom: 0;
}
#pre {
  position: fixed;
  bottom: 0px;
  left: 20px;
  margin: 0;
}
#pre code {
  background-color:#2b2b2b;
  padding:5px 20px;
  color:#fff;
  border-radius:4px;
}
